.filepond--panel-root {
  background-color: transparent;
  border: 1px solid #aaa;
}

.filepond--item {
  width: calc(50% - 0.5em);
}

.filepond--item-panel {
  border-radius: 0.5em;
  background-color: #555;
}
.filepond--file-action-button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.filepond--drop-label {
  color: black;
}

.filepond--drip-blob {
  background-color: red;
}
